.NavWrap {
  margin: auto;
  width: 300px;
}

.NavLink {
  text-align: center;
  font-size: 1.3em;
  text-decoration: none;
}

.NavLink:hover {
  text-decoration: underline;
}

.NavSeparator {
  margin: 4px auto;
}
