
.menu
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15)
	background: rgba(0, 0, 0, .05)

	a
		color: rgba(0, 0, 0, .4)

	a:visited
		color: rgba(0, 0, 0, .4)

	a:hover
		color: rgba(0, 0, 0, .5)
		text-decoration: underline

.menu-inner
	max-width: 25em
	margin: auto
	padding: .5em