primary-font= "Roboto", sans-serif
terminal-font= "Source Code Pro", monospace

.text
	font-family: primary-font

.text-big
	font-size: 1.3em;

.text-small
	font-size: .8em

.text-very-small
	font-size: 0.6em

.text-terminal
	color: #f0f0f0
	text-shadow: #000 0 1px 0
	font-family: terminal-font
	line-height: 1.35em

.text-center
	width: 100%
	text-align: center

.text-justify
	width: 100%
	text-align: justify

a
	color: #d9cec6
	text-decoration: none

a:visited
	color: #d9cec6

a:hover
	color: #d9cec6
	text-decoration: none

.text-selected {
	text-decoration: underline;
	line-height: 1em;
}