.Image {
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 32px;
}

.Autogram {
  margin-top: 16px;
}

.NavBar {
  margin-top: 32px;
}

.Body {
  max-width: 600px;
  margin-top: 32px;
}
