.signature {
    width: 260px;
    margin: 15px auto;
}

path {
    fill:  none;
    stroke: #f0f0f0;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.stroke-R-1 {
    stroke-dasharray: 100;
    animation: write-R-1 2s 1 linear;
}

.stroke-Ra {
    stroke-dasharray: 600;
    animation: write-Ra 2s 1 linear;
}

.stroke-f-1 {
    stroke-dasharray: 180;
    animation: write-f-1 2s 1 linear;
}

.stroke-f-2 {
    stroke-dasharray: 55;
    animation: write-f-2 2s 1 linear;
}

.stroke-ael {
    stroke-dasharray: 800;
    animation: write-ael 2s 1 linear;
}

.stroke-Kalli {
    stroke-dasharray: 1550;
    animation: write-Kalli 2s 1 linear;
}

.stroke-i-dash {
    stroke-dasharray: 20;
    animation: write-i-dash 2s 1 linear;
}

.stroke-s {
    stroke-dasharray: 130;
    animation: write-s 2s 1 linear;
}

@keyframes write-R-1 {
    0%, 5% {
        stroke-dashoffset: 100;
    }
    10% {
        stroke-dashoffset: 0;
    }
}

@keyframes write-Ra {
    0%, 10% {
        stroke-dashoffset: 600;
    }
    20% {
        stroke-dashoffset: 0;
    }
}

@keyframes write-f-1 {
    0%, 20% {
        stroke-dashoffset: 180;
    }
    25% {
        stroke-dashoffset: 0;
    }
}

@keyframes write-f-2 {
    0%, 25% {
        stroke-dashoffset: 55;
    }
    28% {
        stroke-dashoffset: 0;
    }
}

@keyframes write-ael {
    0%, 30% {
        stroke-dashoffset: 800;
    }
    45% {
        stroke-dashoffset: 0;
    }
}

@keyframes write-Kalli {
    0%, 50% {
        stroke-dashoffset: 1550;
    }
    90% {
        stroke-dashoffset: 0;
    }
}

@keyframes write-i-dash {
    0%, 90% {
        stroke-dashoffset: 20;
    }
    92% {
        stroke-dashoffset: 0;
    }
}

@keyframes write-s {
    0%, 94%  {
        stroke-dashoffset: 130;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

